<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ETI | Admin List</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include files/header %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Admin List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Admin List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <!--<div class="card-header">
          <h3 class="card-title">DataTable with default features</h3>
        </div>-->
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-responsive table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>S.no</th>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Address</th>
              <th>Invested Amount</th>
              <th>Rate of Interest</th>
              <th>Tenure/Period of Investment</th>
              <th>Interest Pay-out Frequencies</th>
              <th>Interest Amount to be paid in each interval</th>
              <th>Investor Account No.</th>
              <th>Account IFSC Code</th>
              <th>PAN Card Number</th>
              <th>PAN Card Copy </th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if(locals.investors_deatils){ %>
              <% var i=1 %>
              <% investors_deatils.forEach(function(investors_deatil){ %>
                
                <tr>
                  <td><%= i++ %></td>
                  <td><%= investors_deatil.investor_name %></td>
                  <td><%= investors_deatil.investor_mobile %></td>
                  <td><%= investors_deatil.investor_address %></td>
                  <td><%= investors_deatil.invested_amount %></td>
                  <td><%= investors_deatil.rate_of_interest %></td>
                  <td><%= investors_deatil.tenure_period_of_investment_month+'/'+investors_deatil.tenure_period_of_investment_year %></td>
                  <td><%= investors_deatil.interest_pay_out_frequencies %></td>
                  <td><%= investors_deatil.interest_amount_to_be_paid_in_each_interval %></td>
                  <td><%= investors_deatil.investor_account_no %></td>
                  <td><%= investors_deatil.account_ifsc_code %></td>
                  <td><%= investors_deatil.pan_card_no %></td>
                  <td><%= investors_deatil.pan_card_copy %></td>
                  <td>
                    <% if(investors_deatil.status==1){ %>
                      <span class="badge badge-success">Active</span>
                    <% }else if(investors_deatil.status==2){ %>
                      <span class="badge badge-warning">Deactive</span>
                    <% }else if(investors_deatil.status==0){ %>

                    <% } %>
                  </td>
                  <td>
                    <div class="btn-group">
                        <a title="Edit" class="btn btn-info btn-floating btn-sm" type="button" href="<%= '/edit-investors-deatil/'+investors_deatil._id %>">Edit</a> 
                      
                        <a title="Activate Admin" class="btn btn-info btn-floating btn-sm" type="button" href="<%= '/admin-list/activate/'+investors_deatil._id %>">Activate</a> 
                      
                      <a title="Delete Admin" class="btn btn-danger btn-floating btn-sm" type="button" href="<%= '/admin-list/delete/'+investors_deatil._id %>">Delete</a>
                    </div>
                  </td>
                </tr>
                <% }) %>
            <% } %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.5
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
  $(function () {
    $("#example1").DataTable();
  });
</script>
</body>
</html>
